body{
    background-color: darkgrey;
    font-family: 'Roboto', sans-serif;
}
#buzzercounters{
    margin-top: 10%;
}

.counter{
    height: 300px;
    width: 200px;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    font-size: 150px;
    color: #FFF;
    line-height: 300px;
}

.counter_label{
    font-size: 60px;
    color: #FFF;
}

#counter_0{
    background-color: #CC0000;
}

#counter_1{
    background-color: #FFCC00;
}

#counter_2{
    background-color: #99FF00;
}

